<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>{{specific.username}}</h1>
        <h1>{{specific.task_name}}</h1>
        <h1>{{specific.disc}}</h1>
        <img src="{{ specific.pic.url }}" alt="">
        <br>
        <br>
        <button><a href="{% url 'update' specific.id %}" >Update</a></button>
        <button><a href="{% url 'delete' specific.id %}" >Delete</a></button>
        <br><br>
        <button><a href="{% url 'details' %}" >Back</a></button>
    
</body>
</html>