{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
        <a href="{% url 'details' %}">
            <input type="button" value="Database">
        </a>
    </form>
    <img src="{% static 'todo.png' %}" alt="">
</body>
</html>